// fonts
$font-family: 'ms_sans_serif';

// colours
$surface-primary: #fff;
$text-primary: #000;
$text-secondary: #666;
$neutral-500: #ccc;

// structure
$app-bar-height: 40px;

// a4 dimensions: 210mm x 297mm
$page-width: 840px;
$page-height: 1188px;
