.dialog {
  padding: 0;
  max-height: 60vh;

  .root {
    background-color: white;
    min-width: 300px;
    padding: 0 1em;

    .title {
      background-color: inherit;
      min-width: inherit;
      padding: 0.5em 0;
      position: fixed;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .close:hover {
        cursor: pointer;
      }
    }

    .body::before {
      content: '';
      display: block;
      height: 3.5em;
    }
  
    .body {
      overflow-y: scroll;
    }
  }
}
