@import '/src/assets/scss/variables';

.dialog {
  padding: 0;
  max-height: 60vh;
  overflow-y: hidden;

  .window {
    position: fixed;
    top: calc(50% - 30vh);
    left: calc(50% - 150px);

    .window-content {
      padding-top: 0;

      .root {
        min-width: 300px;
    
        .title {
          min-width: inherit;
          padding: 0.2em;
          display: flex;
          justify-content: space-between;
          align-items: center;
          user-select: none;
      
          .close:hover {
            cursor: pointer;
          }
        }
  
        .title:hover {
          cursor: move;
        }
    
        .body::before {
          content: '';
          display: block;
        }
    
        .body {
          height: 50vh;
        }
      }
    }
  }
}
