@import '/src/assets/scss/variables';

.dialog {
  padding: 0;
  max-height: 60vh;
  overflow-y: hidden;

  .root {
    background-color: $surface-primary;
    min-width: 300px;

    .title {
      background-color: inherit;
      min-width: inherit;
      padding: 0.2em;
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .close:hover {
        cursor: pointer;
      }
    }

    .body::before {
      content: '';
      display: block;
    }

    .body {
      height: 50vh;
    }
  }
}
