@import './src/assets/scss/variables';

.rich-text-editor {
  .ql-editor {
    background-color: $surface-primary;

    strong {
      font-weight: bold;
    }

    em {
      font-style: italic;
    }
  }
}
