@import './src/assets/scss/variables';

.rich-text-editor {
  width: $page-width;

  .ql-container {
    height: inherit;

    .ql-editor {
      background-color: $surface-primary;
      min-height: $page-height;  
  
      strong {
        font-weight: bold;
      }
  
      em {
        font-style: italic;
      }
    }
  }
}
